
/* ________________________________
 Our Home Slider css code
 --------------------------- */

 .home-slider-comp{
    position: relative;
    width: 100%;
    padding: 2rem 1.87rem;
    margin-bottom: 2rem;
 }

 .home-slider-grid-main{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr .55fr;
    column-gap: 2rem;
    row-gap: 2rem;
    height: 55rem;
    /* background-color: #000; */

 }

 .home-slide-main-bx{
    position: relative;
    width: 100%;
    height: 100%;
    
 }

 .home-slider-bx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 600ms ease;
    opacity: 0;
 }

 .home-slider-bx.slideactive{
    opacity: 1;
    z-index: 10;
 }

 .slide-img{
    position: relative;
    width: 100%;
    height: 100%;
 }

 .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .67rem;

 }

 .home-slide-info{
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    padding-inline: 3.87rem;
 }

 .home-slide-info span{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .55px;
    color: #323131;
    margin-bottom: .65rem;
 }

 .home-slide-info h1 ,  .home-slide-info h2{
    font-size: 5rem;
    font-weight: 600;
    color: #202020;
    letter-spacing: .67px;
 }

 .home-slide-info h2{
    font-size: 6.3rem;
    color: #088178;
 }

 .home-slide-info p{
    margin-top: 1rem;
    font-size: 1.65rem;
    font-weight: 400;
    letter-spacing: .55px;
    color: #323131;
 }

 .shop-now-btn{
    position: relative;
    width:20rem;
    padding-block: 1.4rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    letter-spacing: .75px;
    font-weight: 600;
    color: #088178;
    background-color: transparent;
    border: none;
    background: url('../images/button-bg.png')no-repeat center center/cover;
 }

 .slide-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: 11;
    width: 3.55rem;
    height: 3.55rem;
    background-color: #e9fdfc;
    font-size: 1.4rem;
    border: none;
    transition: 500ms ease;
    border-radius: 50%;
    color: #088178;
    border: .1rem solid #e9fdfc;
 }

 .slide-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    z-index: 11;
    width: 3.55rem;
    height: 3.55rem;
    background-color: #e9fdfc;
    font-size: 1.4rem;
    border: none;
    transition: 500ms ease;
    border-radius: 50%;
    color: #088178;
    border: .1rem solid #e9fdfc;
 }

 .slide-next  , .slide-prev{
    opacity: 0;
 }

 .slide-next:hover ,  .slide-prev:hover{
    background-color: #088178;
    color: #fff;

 }
 .home-slide-main-bx:hover .slide-prev , 
 .home-slide-main-bx:hover .slide-next {
    opacity: 1;
 }

 .right-home-slider-mini-grid-bx{
    position: relative;
    width: 100%;
 }

 .home-slider-mini-main{
    position: relative;
    width: 100%;
    height: 35rem;
    overflow: hidden;
 }

 .home-mini-slider-bx{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 600ms ease;
        opacity: 0;
 }

 .mini-slide-img{
    position: relative;
    width: 100%;
    height: 100%;
 }

 .mini-slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .65rem;
 }

 .home-mini-slider-bx.minislideactive{
    opacity: 1;
    z-index: 10;
 }

 .mini-slide-info{
    position: absolute;
    top: 30%;
    left: 1rem;
    padding-inline: 1.87rem;
    padding-block: 1rem;
    transform: translateY(-50%);
 }

 .mini-slide-info span{
    font-size: 1.4rem;
    letter-spacing: .65px;
    font-weight: 400;
    color: #676767;
    margin-bottom: .65rem;
 }

 .mini-slide-info h6{
    font-size: 2.3rem;
    max-width: 18rem;
    line-height: 1.1;
    font-weight: 500;
    color: #2b2a2a;
    transition: 500ms cubic-bezier(0.375, 0.55, 0.555, 1.555);

 }

 .shop-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: #088178;
    letter-spacing: .5px;
    font-weight: 500;
    transition:  500ms cubic-bezier(0.375, 0.55, 0.555, 1.555);
 }

 .shop-btn i{
    font-size: 1.3rem;
    transition:  500ms cubic-bezier(0.375, 0.55, 0.555, 1.555);

 }

 .shop-btn:hover i{
    transform: translateX(10px);
 }

 .home-mini-slider-bx:hover .mini-slide-info h6{
    transform: translateX(20px);
 }

 .offer-slide-main-bx{
    margin-top: 2rem;
    height: 20rem;

 }

 .ofer-slide-bx{
        height: 20rem;
 }

 .ofer-slide-info{
    top: 50%;
    left: 50%;
    transform: translateX(-10%) translateY(-50%);
 }

 .ofer-slide-info .shop-btn{
    margin-top: 1rem;
 }


 /* _____________________________________
  Our banner data comp css code
  -------------- */

  .banner-data-comp{
   position: relative;
   width: 100%;
   margin-top: 2rem;
   padding: 2rem 1.87rem;

  }

  .banner-data-grid{
   position: relative;
   width: 100%;
   column-gap: 2rem !important;
  }

  .banner-data-bx{
   position: relative;
   width: 100%;
   height: 19rem;
  }

  .banner-img{
   position: relative;
   width: 100%;
   height: 100%;
  }

  .banner-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: .5rem;
  }

  .banner-info{
   top: 50%;
  }
  
  .banner-info span{
   font-weight: 500;
   letter-spacing: .55px;
   color: #686767;
  }